<div>
  <link href="./current-issue.css" rel="stylesheet" />
  <div class="current-issue-current-issue">
    <h1 class="current-issue-text">
      <span>This Week: In Print</span>
      <br />
    </h1>
    <img
      alt="image"
      src="https://bloximages.newyork1.vip.townnews.com/montereycountyweekly.com/content/tncms/assets/v3/editorial/8/c9/8c92ee58-b2de-11ed-bfd4-ef6d1264dd07/63f65f74dd428.preview.jpg"
      class="current-issue-image"
    />
    <span class="current-issue-text3">
      <span>&#123;&#123;issue&#125;&#125;</span>
      <br />
    </span>
  </div>
</div>
