<div>
  <link href="./gallery.css" rel="stylesheet" />
  <div class="gallery-gallery">
    <div class="issue-issue issue-root-class-name">
      <img
        alt="image"
        src="https://bloximages.newyork1.vip.townnews.com/montereycountyweekly.com/content/tncms/assets/v3/editorial/e/cc/ecc79a54-ad79-11ed-b466-43a0efd3c20b/63ed52e513a1a.preview.jpg"
        class="issue-image"
      />
      <span class="issue-text">
        <span>&#123;&#123;issue&#125;&#125;</span>
        <br />
      </span>
    </div>
    <div class="issue-issue issue-root-class-name4">
      <img
        alt="image"
        src="https://bloximages.newyork1.vip.townnews.com/montereycountyweekly.com/content/tncms/assets/v3/editorial/e/cc/ecc79a54-ad79-11ed-b466-43a0efd3c20b/63ed52e513a1a.preview.jpg"
        class="issue-image"
      />
      <span class="issue-text">
        <span>&#123;&#123;issue&#125;&#125;</span>
        <br />
      </span>
    </div>
    <div class="issue-issue issue-root-class-name5">
      <img
        alt="image"
        src="https://bloximages.newyork1.vip.townnews.com/montereycountyweekly.com/content/tncms/assets/v3/editorial/e/cc/ecc79a54-ad79-11ed-b466-43a0efd3c20b/63ed52e513a1a.preview.jpg"
        class="issue-image"
      />
      <span class="issue-text">
        <span>&#123;&#123;issue&#125;&#125;</span>
        <br />
      </span>
    </div>
    <div class="issue-issue issue-root-class-name6">
      <img
        alt="image"
        src="https://bloximages.newyork1.vip.townnews.com/montereycountyweekly.com/content/tncms/assets/v3/editorial/e/cc/ecc79a54-ad79-11ed-b466-43a0efd3c20b/63ed52e513a1a.preview.jpg"
        class="issue-image"
      />
      <span class="issue-text">
        <span>&#123;&#123;issue&#125;&#125;</span>
        <br />
      </span>
    </div>
  </div>
</div>
